@import '../../styles/variables';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem $sidePadding1;
  background-color: $colorWhite;

  .header-button {
    display: flex;
  }

  .logo-icon {
    width: 10rem;
  }

  .hidden-heading {
    display: none;
  }

  @media #{$screenLarge} {
    padding: 7.5rem $sidePadding2;

    .logo-icon {
      width: 24.5rem;
    }
  }
}
