@import '../../styles/variables';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem $sidePadding1;
  background-color: $colorWhite;

  .header-button {
    display: flex;
  }

  .logo-icon {
    width: 10rem;

    @media #{$screenLarge} {
      width: 24.5rem;
    }
  }

  .hidden-heading {
    display: none;
  }
}
